
@{
    
    Layout = "~/Views/Shared/Layout.cshtml";
}

@for (int i = 0; i < 4; i++)
{
    <br />
}

<div style="margin:auto" class="col-md-8">

    <h4 style="text-align:center;font-size:40px">Aradığınız Ürün Bulunamadı</h4>

</div>

@for (int i = 0; i < 20; i++)
{
    <br />
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script>

    $("#searchbox").hide();

</script>